.header-container {
  height: fit-content;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
}
.header {
  height: 64px;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  gap: 10rem;
}

.links {
  display: flex;
  gap: 2.5rem;
}
.links a:hover {
  color: #f54748;
}
.cart-side {
  cursor: pointer;
  position: relative;
  padding-right: 0.5rem;
}
.items-number {
  position: absolute;
  top: -3px;
  right: -1px;
  background-color: #f54748;
  border-radius: 50%;
  color: white;
  padding: 0rem 0.3rem;
}
.menu {
  display: none;
  opacity: 0;
}
.hidden {
  display: none;
}
.links-small {
  position: absolute;
  top: 4rem;
  right: 0.3rem;
  width: 50%;
  height: 20%;
  padding: 1rem;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 100;
  background: rgba(245, 71, 72, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(245, 71, 72, 0.3);

  color: #ffffff;
}
.links-small a:hover {
  color: #f54748;
}
@media screen and (max-width: 810px) {
  .links {
    display: none;
    opacity: 0;
  }
  .menu {
    display: block;
    opacity: 1;
  }
  .header {
    gap: 2rem;
  }
}
@media screen and (min-width: 810px) {
  .links-small {
    display: none;
  }
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
