.hero {
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 4rem;
  align-items: flex-start;
}
.left-side {
  display: grid;
  grid-row-gap: 2rem;
}
.cherry {
  font-weight: 600;
  color: #f54748;
  margin-left: 1rem;
  justify-self: baseline;
}
.heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 7rem;
}
.heading span {
  color: #f54748;
}
.text {
  width: 70%;
  font-weight: 600;
  color: #828282;
}
@media screen and (max-width: 1270px) {
  .heading {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1072px) {
  .heading {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .text {
    width: 90%;
  }
}
@media screen and (max-width: 810px) {
  .hero {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .right-side {
    grid-row-start: 1;
    height: 30% !important;
  }
}
@media screen and (max-width: 370px) {
  .heading {
    font-size: 1.2rem;
  }
  .left-side {
    grid-row-gap: 1rem;
  }
}
