.services-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-items: center;
  align-items: center;
  grid-gap: 1rem;
}
.services-container p {
  font-size: 0.98rem;
  line-height: 1.3rem;
  padding: 0 0.5rem;
  color: var(--gray);
  font-weight: normal;
}
.service {
  padding: 0.1rem 1rem;
  width: 80%;
  background: linear-gradient(145deg, #fffdfd, #e4d4d4);
  box-shadow: 20px 20px 60px #d7c9c9, -20px -20px 60px #ffffff;
  border-radius: 20px;
  transition: 0.3s;
}
.service:hover {
  background: linear-gradient(145deg, #e4d4d4, #fffdfd);
  box-shadow: 20px 20px 60px #d7c9c9, -20px -20px 60px #ffffff;
  transition: 0.3s;
}
@media screen and (max-width: 930px) {
  .services-container {
    grid-template-columns: repeat(3, 32%);
  }
}
@media screen and (max-width: 810px) {
  .services-container {
    grid-template-columns: repeat(2, 20rem);
  }
}
@media screen and (max-width: 650px) {
  .services-container {
    grid-template-columns: repeat(1, 20rem);
  }
}

@media screen and (max-width: 800px) {
  .service:hover {
    background: linear-gradient(145deg, #fffdfd, #e4d4d4);
    box-shadow: 20px 20px 60px #d7c9c9, -20px -20px 60px #ffffff;
  }
}
